################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs
/IPFSTest/.vs/IPFSTest/v15/Server/sqlite3
/IPFSTest/.vs/IPFSTest/v15
/IPFSTest/IPFSTest/obj/Debug
